[user]
	email = Mehdi. Z
	name = Madi-Engine-Core75
[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential]
	helper = cache
[commit]
	gpgsign = true
